<!DOCTYPE html>
<html>
    <head>
        <title>
            Movie Application - Add Movie
        </title>
        <style>
            
        </style>
    </head>
    <body>
        <h2 align="center">Add Movie</h2>
        <form action="/addmovie" method="post">
            <label for="title">Movie title:</label>
            <input type="text" id="title" name="title" required><br><br>

            <label for="year">Movie release year:</label>
            <input type="text" id="year" name="year" required><br><br>

            <label for="movieProductionCompany">movie Production Company:</label>
            <input type="text" id="movieProductionCompany" name="movieProductionCompany" required><br><br>

            <label for="movieGenre">movie Genre:</label>
            <input type="text" id="movieGenre" name="movieGenre" required><br><br>

            <label for="movieRuntime">movie Runtime:</label>
            <input type="text" id="movieRuntime" name="movieRuntime" required><br><br>

            <label for="movieDirector">movie Director:</label>
            <input type="text" id="movieDirector" name="movieDirector" required><br><br>

            <label for="movieDescription">movie Description:</label>
            <input type="text" id="movieDescription" name="movieDescription" required><br><br>

            <label for="movieImg">movie Img:</label>
            <input type="text" id="movieImg" name="movieImg" required><br><br>

            <label for="movieImageContentType">movie Image Content Type</label>
            <input type="text" id="movieImageContentType" name="movieImageContentType" required><br><br>

            <input type="submit" value="Submit">
        </form>
        
                    
    </body>
</html>