<!DOCTYPE html>
<html>
<head>
    <title>Movie Application - Add Movie</title>
    <style>
        /* Your CSS styles can go here */
    </style>
</head>
<body>
    <form action="/addmovie" method="post" enctype="multipart/form-data">
        <table align="center">
            <thead>
                <tr>
                    <th colspan="2">
                        <h2 align="center">Add Movie</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label for="title">Movie title:</label>
                    </td>
                    <td>
                        <input type="text" id="title" name="title" required><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="year">Movie release year:</label>
                    </td>
                    <td>
                        <input type="text" id="year" name="year" required><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="movieProductionCompany">Movie Production Company:</label>
                    </td>
                    <td>
                        <input type="text" id="movieProductionCompany" name="movieProductionCompany" required><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="movieGenre">Movie Genre:</label>
                    </td>
                    <td>
                        <input type="text" id="movieGenre" name="movieGenre" required><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="movieRuntime">Movie Runtime:</label>
                    </td>
                    <td>
                        <input type="text" id="movieRuntime" name="movieRuntime" required><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="movieDirector">Movie Director:</label>
                    </td>
                    <td>
                        <input type="text" id="movieDirector" name="movieDirector" required><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="movieDescription">Movie Description:</label>
                    </td>
                    <td>
                        <input type="text" id="movieDescription" name="movieDescription" required><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="movieImageContentType">Movie Image Content Type:</label>
                    </td>
                    <td>
                        <input type="text" id="movieImageContentType" name="movieImageContentType" required><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="posterImg">Movie Poster:</label>
                    </td>
                    <td>
                        <input type="file" id="posterImg" name="posterImg" required><br><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>      
</body>
</html>
